@import '../../variables.scss';

.bar-right {
  border: 1px solid $light-grey;
  width: 35%;
  height: 50vh;
  border-radius: 8px;

  .cost-info {
    display: flex;
    width: 100%;
    justify-content: space-between;

    .dollar-cost {
      font-family: $header-font;
      font-size: 22px;
    }

    div {
      display: flex;
      justify-content: space-between;
      width: 40%;
      margin: auto 1rem;

      img {
        height: 30px;
        margin: auto 0;
      }

      .score-num {
        font-family: $header-font;
        font-size: 20px;
        margin: auto 0;
      }

      .per-person {
        margin: auto 0;
        font-size: 16px;
        color: $dark-grey;
      }
    }
  }
}