@import '../../variables.scss';

.chef-reviews {
  .reviews-header {
    .reviews-stats {
      display: flex;
      width: 170px;
      justify-content: space-between;
      min-width: 40px;
      align-items: center;

      .star-img {
        height: 20px;
      }

      h3 {
        font-size: 30px;
      }

      p {
        color: $dark-grey;
        font-size: 14px;
      }

      
    }
  }
  .star-rating {
    height: 10px;
  } 
}