$red-orange: #fe4701;
$light-grey: #d1d3d4;
$dark-grey: #636466;

.page-header{
  display: flex;
  justify-content: space-between;

  img {
    height: 1.5rem;
    margin: 15px 0 0 15px;
  }

  div {
    margin: 15px 0 0 15px;
    width: 250px;
    display: flex;
    justify-content: space-between;

    .sign-in {
      font-weight: 500;
    }

    .create-account {
      color: $red-orange;
      font-weight: 500;
      border: 1px solid $red-orange;
      padding: 8px;
      border-radius: 20px;
    }
  }
  
}


