@import '../../variables.scss';

.chef-info {


  .chef-tags {
    text-align: left;
    width: 40%;

    span {
      text-transform: uppercase;
      background-color: rgb(232, 187, 159);
      color: $red-orange;
      border-radius: 5px;
      font-size: 12px;
      padding: .5rem;
      width: fit-content;
      margin-right: 8px;
    }
  }
}
