@import '../../variables.scss';

.image-gal {
  margin: 2rem 0;
  text-align: center;
  border-radius: 4px;
  max-width: 100%;
  padding: 2rem 1rem;
  background-color: $light-grey;
  display: flex;
  justify-content: space-between;

  .chef-portrait {
    max-width: 75%;
    height: auto;
    border-radius: 5px;
    -webkit-box-shadow: 6px 12px 63px -25px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 12px 63px -25px rgba(0,0,0,0.75);
    box-shadow: 6px 12px 63px -25px rgba(0,0,0,0.75);
  }

  .arw {
    height: 1rem;
    margin: auto 0;
  }

  .left-arw  {
    transform: rotate(180deg);
  }

}