@import './variables.scss';

h1, h2, h3 {
  font-family: $header-font;
}

p, li {
  font-family: $paragraph-font;
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}

.App {

  .content-container {
    width: 60%;
    margin: auto;
  }
}
